
header{
    background-color: rgba(248, 203, 0, 1);
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 15%;
    position: fixed;
    top: 0px;
    width: 100%;
 }
 
 #logo{
    color: rgba(255, 255, 255, 1);
    font-family: 'Helvetica';
    font-size: 13px;
    height: 17px;
 }

#location {
    width: 5px;
}

.container {
    padding-top:1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin:auto;
    font-family: 'Helvetica';
    font-size: 8px;
}

 #city {
    color: rgba(19, 19, 19, 1);
    font-family: 'Helvetica';
    font-size: 8px;
    width: 87px;
}

.la {
    color: rgba(99, 100, 216, 1);
    font-family: 'Helvetica';
    font-size: 8px;
    text-align: left;
}

#phone {
    color: rgba(19, 19, 19, 1);
    font-family: 'Helvetica';
    font-size: 8px;
    line-height: 16px;
    width: 87px;
}

#call {
    width: 6px;
}

#zero {
    font-family: 'Helvetica';
    font-size: 8px;
    line-height: 16px;
    text-align: left;
}

.shipping {
    font-family: 'Helvetica';
    font-size: 8px;
    color: rgba(45, 45, 45, 1);
}

.dropdown {
    font-family: 'Helvetica';
    font-size: 8px;
    color: rgba(23, 23, 23, 1);
}

 #cartpic{
    height: 15px;
    width:auto;
 }

 #cart{
    background-color: rgba(99, 100, 216, 1);
    border-radius: 2px;
    font-family: 'Helvetica';
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 45px;
    width: 130px;
 }
 
 #cart span{
    background-color: rgba(57, 58, 177, 1);
    padding: 5px;
    border-radius: 0px 2px 0px 2px;
    font-family: 'Helvetica';
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
 }

#input_container {
    /* position:relative; */
    padding: 0;
    margin: 0;
    font-size: 12px;
    display: inline-flex;
    width: 140%;
}

#input {
    margin: 0;
    /* padding-left: 30px;  */
    width: 40%;
    border: none;
    height: 20px;
    outline: none;
    color: rgb(0, 0, 0);
    text-align: left;
}

#input_img {
    /* justify-content: flex-start;
    bottom:12px;
    left:180px;
    background: #ffffff; */
    width:  12px;
    height: 12px;
    background: #ffffff;
    color: #fff;
    /* background-position: 16px 16px; */
    padding: 5px 5px 5px 5px;
}